<%= form_for(@celeb) do |f| %>
  <% if @celeb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celeb.errors.count, "error") %> prohibited this celeb from being saved:</h2>

      <ul>
      <% @celeb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
