<div id="dialog-tweet" title="Reply">
<p class="validateTips"></p>
<form>
  <label for="tweet">Tweet</label><br/>
  <textarea  rows="3" cols="20" name="tweet" id="tweet" class="text ui-corner-all" ></textarea>
</form>

</div>
