<div id="dialog-tweet" style="display:none">

<div style="zoom:1;clear:both"> 

<label>Whats on your mind:</label>
<span id="spnChars" style="float:right">140</span>
 </div>
<br />
 <div> <textarea  name="tweet" id="tweet" class="text ui-corner-all" ></textarea></div>
<br />

<div id="tweetControls" style="text-align:right">
<span><button type="button" id="btnTweet">Tweet</button> &nbsp;
<button type="button" id="btnClose">Cancel</button>
</span>
</div>

</div>
<div class="TranslucentBackgroundForPopUp" style="display: none">
    </div>
