<div class="socialContainer">


<div class="social">
<!-- Place this tag where you want the +1 button to render -->
<g:plusone size="medium"></g:plusone>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div>
<div class="social">
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=196430660424884&amp;xfbml=1"></script><fb:like href="" send="true" layout="button_count" width="150" show_faces="true" font="lucida grande"></fb:like>
</div>
<div class="social">

<!--Twitter ( from http://twitter.com/about/resources/tweetbutton): -->
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="tweetflick_in">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div class="clr"></div>
</div>
