
<div class="socialContainer">



<div class="social">
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=196430660424884&amp;xfbml=1"></script><fb:like href="" send="false" layout="button_count" show_faces="true" font="lucida grande"></fb:like>
</div>
<div class="social">

<!--Twitter ( from http://twitter.com/about/resources/tweetbutton): -->
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="tweetflick_in">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

</div>

