<div id="about" class="ui-corner-all"> 
<p  style="padding:40px 60px;height:200px;" align="justify">
<span style="font-weight:bold; color:#336699;">TweetFlick</span> is a one stop place to read,retweet,reply to the tweets of indian movie celebrities.<br/> Twitter is one and only online platform where most of the stars from bollywood, south indian movies engage with their fans. We gather them at one place, divide into categories, provide basic analytics on your favourite stars online activity.<br /> With TweetFlick, you get upto minute real time feed of the tweets, fan replies, conversations between celebrities and also celebrity-fan interactions. <br />TweetFlick aims to provide genuine information based on verified celebrities. <br/> <br/>
      Apart from everything else TweetFlick works and is simple and usable.
<br /><br /><br /><br /><span style=""> Contact us at &nbsp; &nbsp; <a href="mailto:admin@tweetflick.in" >admin@tweetflick.in</a> . <br/>
Please provide your feedback at <a href="mailto:feedback@tweetflick.in" >feedback@tweetflick.in</a></span> <br />

</p> <br /><br /><br />

<div style="margin-left:20px">
 &nbsp;&nbsp;&nbsp;&nbsp;<%=image_tag "PBAWS_LOGO_127px.JPG" %> &nbsp;&nbsp;&nbsp;&nbsp;
<%=image_tag "PoweredMongoDBblue50.png"%> 

</div>


</div>
