/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

body{padding:0px;margin:0px;font-family:Candara;font-size:12px;color:#333333;background:#E7E7E7;}

#wrap{width:1080px;margin:0 auto;background:#fff;-webkit-box-shadow:5px 5px 5px #cdcdcd;-moz-box-shadow:5px 5px 5px #cdcdcd;box-shadow:5px 5px 5px #cdcdcd;}

#wrap #divContent{float:right; width:800px;margin:0px 0px 0px 10px;}

#wrap #divList{float:left; width:250px;}