  <%= javascript_include_tag "interact" %>
<div class="icolumn1 left">
<h3>Celeb - Celeb Interactions </h3>
<%  @celebdiscs.each do |disc|%>
<%= render :partial => "celebheader",:locals => {:disc => disc} %>
<%end%>
</div>

<div class ="column3 left" style="margin:40px 20px">
<div style="border:1px solid #DDD;padding:2px;margin:10px 0">
<%= render :partial => "interaction",:locals => {:disc => @celebdiscs.first } %>
</div>
</div>
<div class="right" style="margin-top:30px">
<%= render :partial => "shared/googleadsense" %>
</div>
<div class="clr"></div>
