<div id="dialog-tweet" title="Reply">
<p class="validateTips">Reply.</p>
<form>
  <fieldset>
  <label for="tweet">Tweet</label>
  <textarea  name="tweet" id="tweet" class="text ui-corner-all" ></textarea>

</fieldset>
</form>

</div>
